//crie um arquivo chamado env.properties na pasta resources

//Informações de conexão do banco de dados que foi criado no docker

// URL de conexão com o banco. Exemplo: jdbc:postgresql://db:5432/{nome-do-banco-definido-abaixo}
SPRING_DATASOURCE_URL=

// Username definido abaixo
SPRING_DATASOURCE_USERNAME=

// Senha definida abaixo
SPRING_DATASOURCE_PASSWORD=


//Informações de conexão do banco de dados que será criado pelo docker

// Nome do banco - apenas o nome
POSTGRES_DB=

// Username
POSTGRES_USERNAME=

// senha
POSTGRES_PASSWORD=